# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Airflow
airflow/logs/

# MinIO
minio/data/

# Metabase
metabase/plugins/*.mv.db

# AI tools
.claude/
